@import 'tailwindcss';

:root {
  --background: #f6fafc;
  --foreground: #000000;
}

::selection {
  background-color: #000000;
  color: #60ccf9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-hacked: var(--font-hacked);
  --font-sans: var(--font-hacked);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Geist Mono, sans-serif;
}

a, button, [type="submit"], .clickable {
  cursor: url(fuck_cursor.cur), pointer;
}
